<a href="/"><img id="logo" src="../img/logo.png"></a>

<form id="search-form" action="/movies">
    <input id="searchbar" type="text" name="title" placeholder="Search...">
    <button type="submit">Search</button>
</form>



<% if (user) { %>

<header id="profile-link"><button><a href="/login">Sign Out</a></button></header>

    <% } else { %>
        <header id="signin-link"><button><a href="/login">Sign in</a></button></header>
    <% } %>

