<h1 id="login">Create Your Account</h1>
<div id="formbox">
    <form action="/users" method="POST">
        <label class="loginlabel" for="email">Email:</label>
        <br>
        <input class="loginlabel" type="text" name="email" required>
        <br>
        <label class="loginlabel" for="username">Username:</label>
        <br>
        <input class="loginlabel" type="text" name="userName" required>
        <br>
        <label class="loginlabel" for="password">Password:</label>
        <br>
        <input class="loginlabel" type="password" name="password" required>
        <br>
        <button class="loginlabel loginsubmit" type="submit">Sign Up!</button>
    </form>
</div>
    <div id="registerdivbox">
        <button id="registerlinkbutton"><a id="registerlink" href="/login">Already have an account? <br> Log in Here!</a></button>
    </div>
</body>
</html>