<% if (movie) { %>
    <div class="container">
        <h2><%= movie.title %></h2>
        <img src="<%= movie.img %>" alt="<%= movie.title %> Poster" width="200">
        <% if (user) { %>
            <div class="button-container">
                <button onclick="add" class="add-button" data-movie-title="<%= movie.title %>">Add to my list!</button>
            </div>
        <% } %>
    </div>
<% } else { %>
    <p>Movie not found</p>
<% } %>
</div>

</body>
</html>