<div id="homepagelinks">
<form id="search-form" action="/search" method="GET">
    <input id="searchbar" type="text" name="q" placeholder="Search...">
    <button type="submit">Search</button>
</form>
<a href="/movies"><button>Click here To see All Movies!!</button></a>
</div>
<h1 id="homepage-intro">Welcome to our Movie Watchlist application! 
    <br>
    We Designed this application to allow users to be able to add movies they enjoy to their watched lists and give them reviews!
    <br>
    We also deigned it for the user to add movies not included in the list and movies they want to watch to their to watch list!
    <br>
    Hope You guys enjoy! 
</h1>
</body>
</html>