<h2 id="login">Login</h2>
<div id="formbox">
    <form action="/profile" method="GET">
        <label class="loginlabel" for="username">Username:</label>
        <br>
        <input class="loginlabel" type="text" name="userName" required>
        <br>
        <label class="loginlabel" for="password">Password:</label>
        <br>
        <input class="loginlabel" type="password" name="password" required>
        <br>
        <input class="loginlabel loginsubmit" type="submit" value="Login!">
    </form>
</div>
<div id="registerdivbox">
    <button id="registerlinkbutton"><a id="registerlink" href="/createaccount">No Account? <br> Create One Here!</a></button>
</div>
</body>
</html>