<h2 id="login">Login Or Logout</h2>
<ul class="right">
    <li>
      <% if (user) { %>
        <div id="logoutlogin">
        <button><a href="/logout">Log Out</a></button>
        <span id="welcomeuser">Hi <%= user.name %> </span>
        </div>
      <% } else { %>
        <div id="logindiv">
        <button id="loginbutton"><a id="loginlink" href="/auth/google"> Login with Google</a></button>
        </div>

      <% } %>  
    </li>
  </ul>
</body>
</html>