<div class="movies-grid">
    <% movies.forEach(movie => { %>
        <div class="movie-card">
            <div class="movie-content">
                <a href="/movies/<%= movie.title %>"> <!-- Wrap the image with an anchor tag -->
                    <img src="<%= movie.img %>" alt="<%= movie.title %> Poster" width="200">
                </a>
                <h2 class="movie-title"><%= movie.title %></h2>
            </div>
            <div class="button-container">
                <button class="add-button">Add to my list!</button>
                <button class="watched-button">Watched?</button>
            </div>
        </div>
    <% }); %>
</div>
