<% if (movie) { %>
    <h2><%= movie.title %></h2>
    <img src="<%= movie.img %>" alt="<%= movie.title %> Poster" width="200">
    <button id="add">Add to my list!</button>
    <button id="watched">Watched?</button>
<% } else { %>
    <p>Movie not found</p>
<% } %>
</body>
</html>