body {
    background-color: rgba(19, 19, 19, 0.95);
    color: rgb(138, 0, 252);
}
button{
    cursor: pointer;
  }
  footer{
    margin-top: 100%;
    font-size: 20px;
    text-align: center;
  }
#profile-link{
    display: none;
    font-size: 20px;
    text-align: right;
    margin-right: 90px;
    margin-top: 90px;
}
#signin-link{
    display: block;
    font-size: 20px;
    text-align: right;
    margin-top: 90px;
    margin-right: 90px;
    cursor: pointer;
}
#allmovies{
    text-align: center;
}
#searchbar {
    margin-left: 90px;
}
#registerdivbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
#registerlinkbutton {
margin-top: 50px;
font-size: 50px;
}
#registerlink {
    text-decoration: none;
    color: black;
}
#login {
    text-align: center;
    font-size: 80px;
}
#formbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}
.loginlabel {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size:50px;
}
.loginsubmit {
    margin: auto;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
#logo {
    width: 80px;
    height: 80px;
}
  #homepage-intro{
    text-align: center;
    margin-top: 200px;
  }
  #homepagelinks {
    display: flex;
    gap: 25px;
  }
  #search-form { 
    margin-left: 40px;
  }
ul {
  list-style: none;
  margin: auto;
}

.movies-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap as needed */
  justify-content: flex-start;
  margin: 50px;
}

.movie-card {
  text-align: center;
  width: 200px; /* Set a fixed width for each card */
}

.movie-card img {
  max-width: 100%;
  height: 300px; /* Set a fixed height for all images */
}

.movie-title {
 font-size: 15px;
}

.allMoviesList {
  font-size: 30px;
  text-align: center;
}