body {
    background-color: rgba(19, 19, 19, 0.87);
    color: rgb(138, 0, 252);
}
#profile-link{
    display: none;
    font-size: 20px;
    text-align: right;
    margin-right: 90px;
    margin-top: 90px;
}
#signin-link{
    display: block;
    font-size: 20px;
    text-align: right;
    margin-top: 90px;
    margin-right: 90px;
    cursor: pointer;
}
#allmovies{
    text-align: center;
}
#searchbar {
    margin-left: 90px;
}
#registerdivbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
#registerlinkbutton {
margin-top: 50px;
font-size: 50px;
}
#registerlink {
    text-decoration: none;
    color: black;
}
#login {
    text-align: center;
    font-size: 80px;
}
#formbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}
.loginlabel {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size:50px;
}
.loginsubmit {
    margin: auto;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
#logo {
    width: 80px;
    height: 80px;
}
:root {
    /* Light mode variables */
    --container-background: #FDF8F7;
    --para-light-text: #333333;
    --anchor-light-text: #FAEEEB;
    --anchor-light-bg: #A04229;
    /* Dark theme variables */
    --container-dark-text: #FFFFF;
    --container-dark-background: darkgrey;
    --para-dark-text: #FFFFFF;
    --anchor-dark-text: darkgrey;
    --anchor-dark-bg: grey;
  }
/* @media screen and (prefers-color-scheme: dark) {
    body {
      color: #fff;
    }
  }

  @media screen and (prefers-color-scheme: light) {
    body {
      color: #000;
    }
  } */